
@{
    ViewBag.Title = "Print";
}

<h2>Print</h2>
<h4>Not yet supported.</h4>

<div>
    @Html.ActionLink("Back to the account", "Account", new { id = int.Parse(Session["CurrentAccId"].ToString()) })
</div>