@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Oktyabrskaya 10, 904<br />
    <p>Phone: +375(29) 728-29-11</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:daniil.boyko.2017@gmail.com">daniil.boyko.2017@gmail.com</a><br />
</address>